@model Blogum.Models.Uye

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div>
    <h4>Üye Bilgileri</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            <img src="@Model.Foto" width="150" class="img-circle" />
        </dd>

        <dt>
            Yetki
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetki.Yetki1)
        </dd>

        <dt>
            Kullanıcı Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KullaniciAdi)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Şifre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifre)
        </dd>

        <dt>
            Ad Soyad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UyeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
