@model IEnumerable<Blogum.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    @Html.ActionLink("Kategori Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Kategori Adı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KategoriId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.KategoriId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KategoriId })
        </td>
    </tr>
}

</table>
